<div class="landingcontainer">
    <div class="row" style="margin-right: 110px;">
      <p class="landing-text">FIND THE PERFECT ONLINE STORE</p> <p class="landing-text-bottom">by gender + age + style</p>
    </div>
    <div class="row start-shopping-container">
        <a class="start-shopping-btn" href="/welcome">START SHOPPING</a>
    </div>
</div>

