


<div align="center">
<br>
<h1 class="welcome"><strong>Start Shopping</strong></h1>


   
<% Style.all.each do |style| %>
<%= style.style %>
<% end %>

<% Style.all.each do |style| %>
    
    <% results = [] %>
    <% if !results.include? style.style %>
    <% results << style.style %>
    <% end %>
    <% results.each do |result| %>
    <% end %>
<%= result.all %>

<% end %>

