<link rel="stylesheet" type="text/css" href="app/assets/stylesheets/application.css">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
       <h1><a href="#"><img src="http://helloimll.files.wordpress.com/2014/08/select-my-store-logo.jpg?w=610&h=146" height="100" width="200"></a></h1>
    </li>
   
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Sign Up</a></li>
      <li class="has-dropdown">
       </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="right">
      <li><a href="#">Home</a></li>
    </ul>
  </section>
</nav>

<br>
<h1 align="center"><strong>Shopping Matches</strong> </h1>
</div>
<!-- 
<div class="large-3 large-5 columns">
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/americanapparel-logo.jpg" width="200" height="200">
             <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class ="small-6 large-centered columns">
                <img src="/images/storelogos/haven-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
            <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
     <div class="row">
        <div class="large-8 large-offset-2 columns">
            <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
             <p><strong>Urban Outfitters</strong></p>
              <p><strong>www.UrbanOutfitters.com</strong></p>
               <p>This is a mother fucking description.</p>
            <br>
        </div>
    </div>
</div> -->

<br>
<br>

<!-- <h3 align="center"> These are your results: </h3> -->

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 11 columns"><img src="http://helloimll.files.wordpress.com/2014/08/anthropologie-logo.jpg?w=610" width="200" height="200"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Anthropologie</strong> <strong><em><a href="http://www.Anthropologie.com">  Visit Website</em></strong></a></p>
                <p>Twenty years after being founded in Wayne, Pennsylvania, Anthropologie remains a destination for women wanting a curated mix of clothing, accessories, gifts and home décor that reflects their personal style and fuels their lives' passions, from fashion to art to entertaining.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/uo-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Urban Outfitters</strong> <strong><em><a href="http://www.UrbanOutfitters.com">  Visit Website</em></strong></a></p>
                <p>UO is an innovative specialty retail company which offers a variety of lifestyle merchandise to highly defined customer niches.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/topshop-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Topshop</strong> <strong><em><a href="http://www.Topshop.com">  Visit Website</em></strong></a></p>
                <p>Topshop started out life way back in 1964. Since those humble beginnings in the basement of a department store we’ve grown up and now have over 300 stores in the UK alone! We ship to more than 100 countries and our eclectic British style is known all over the world.  Topshop's Oxford Circus flagship is a mecca for cool girls, whether they’re holidaying in London or living in the capital, and we’ve spread the love across the pond with flagships in Chicago and New York!</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/stonecoldfox-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Stone Cold Fox</strong> <strong><em><a href="http://www.StoneColdFox.com">  Visit Website</em></strong></a></p>
                <p>Two childhood friends collaborate to make Stone_Cold_Fox, a clothing label that takes inspiration from the delicacy of vintage clothing and seeks to make it fresh again.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/nasty-gal.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Nasty Gal</strong> <strong><em><a href="http://www.NastyGal.com">  Visit Website</em></strong></a></p>
                <p>This is a mother fucking description.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/sugarhigh-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>Sugarhigh + Lovestoned</strong> <strong><em><a href="http://www.SugarhighLovestoned.com">  Visit Website</em></strong></a></p>
                <p>Nasty Gal is a global online destination for fashion-forward, free-thinking girls. In 2006, founder Sophia Amoruso started an eBay store selling a highly curated selection of vintage pieces. In just five short years, the shop has grown to become an international style source offering both new and vintage clothing, shoes, and accessories. The name was inspired by the song and album “Nasty Gal.” Betty Davis, the patron saint of badass women, was known for her unapologetically sexy funk music which comprises our vision of femininity—complete with lamé platform thigh-high boots.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/foreloveandlemons-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>For Love and Lemons</strong> <strong><em><a href="http://www.ForLoveandLemons.com">  Visit Website</em></strong></a></p>
                <p>Derived from those sun-soaked "Lemonade Stand Days", designers, owners, and BFF's Gillian Mahin and Laura Hall are the masterminds behind the line For Love & Lemons. Born in Wyoming, and now based in Los Angeles, the collection is anything but conventional – rebelling against the standards of modern society. The line taunts with intrigue as a clash of colors and patterns are evoked by chic separates and devious dresses. Where the modern gypsy is punk, For Love & Lemons is a brand to relate to, for that girl that doesn't follow trends, she makes them.</p></div>
                </div>
</div>

<br>

<div class="row">
  <div class="small-4 small-centered columns"> 
    <div class="small- 4 columns"><img src="http://helloimll.files.wordpress.com/2014/08/americanapparel-logo.jpg?w=610" width="200" height="200" alt="img-mail"></div>
    </div>
                <div class="small-4 columns"><p id="resultsp"><strong>American Apparel</strong> <strong><em><a href="http://www.AmericanApparel.com">  Visit Website</em></strong></a></p>
                <p>American Apparel is a popular and trendy US apparel manufacturing LLC. It manufactures, wholesales, and retails all of its products, and is popular in mainstream, urban areas such as San Francisco, New York City, Seattle, and Portland. Although slightly more priced than similar retailers, American Apparel produces all of its clothes in the United States, pays their workers a decent wage and provides them with healthcare, and utilizes cruelty free practices. </p></div>
                </div>
</div>

<br>



<!-- <div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/stonecoldfox-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div>

<div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/sugarhigh-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div>

<div class="row">
  <div class="small-3 small-centered columns"> <img src="/images/storelogos/topshop-logo.jpg" width="200" height="200">
                <p><strong>Urban Outfitters</strong>
                <strong>www.UrbanOutfitters.com</strong>
                This is a mother fucking description.</p></div>
</div> -->
<!-- <div align="center">
<h1 align="center"><strong>Shopping Matches</strong> </h1>
</div>

<div class="large-3 large-5 columns">
    <div class="row">

        <div class="large-0">
        <div class=
            <img src="/images/storelogos/americanapparel-logo.jpg" width="200" height="200">
            <p> these are words and shit </p>
            <br>
            <img src="/images/rock.png" width="200" height="200">
              <p> these are words and shit </p>
            <br>
            <img src="/images/scissors.png" width="200" height="200">
              <p> these are words and shit </p>
        </div>
    </div>
</div> -->