 <div class="about-container">
     <div class="row">
        <div class="small-12 large-centered columns">
            <p class="basic-text-med">You love online shopping, but do you know where to start?</p>
        </div>
    </div>

     <div class="row">
        <div class="small-7 large-centered columns">
            <img src="/assets/about.jpg" style="align-content: center">
        </div>
    </div>

     <div class="row">
        <div class="small-12 large-centered columns">
            <p class="basic-text-med">ShoppingSherpa is here to help you find the perfect online store for you or your friends, children, or parents based on age, gender, and style.</p>
      </div>
    </div>
</div>