<div class="partner-container">
        <div class="row">
            <div class="small-12 large-centered columns">
                <p class="basic-text-large">We are currently in the beta phase, but will soon be looking for partners in Austin, NYC, and LA.</p>
            </div>
        </div>

        <div class="row">
            <div class="small-9 large-centered columns">
                <img src="/assets/austin.jpg" style="align-content: center">
            </div>
        </div>
       
        <div class="small-9 large-centered columns">
            <p class="basic-text-med">If you have an e-commerce site and would like to get involved with the project, please <a class="black-link" href='/contact'>contact</a> us.<p>  
        </div>
        <br>
</div>