<div class="contact-container">
    <div class="row">
        <div class="small-8 large-centered columns">
            <h1 class="contact-header">We are in the beta testing phase and would love to hear your feedback.</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-8 large-centered columns">
            <p class="basic-text">Please fill out the form below and we'll get back to you as soon as possible.  If you have suggestions for improvement please include those as well, and you may see them in Version 2.</p>
        </div>
    </div>
    <div class="row">
        <div class="small-8 large-centered columns">
            <%= render 'form', :feedback => @feedback %>
        </div>
    </div>
</div>