/*= require foundation */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

welcome {
    text-align: center
}

html, body {
    height: 100%;
}

#container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .footer-push {
    height: 60px;
    clear: both;
}
.store-image {
    height: 350px;
}

h1, h2 {
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
    margin: 1em;
    border-bottom: solid black;
}

a {
    color: white;
}

li.social-media-icons:hover {
    list-style-type: none;   
}

/*a:hover {
    background-color: #2E94C5; 
    color: white;
}*/

a.website-text {
    color: #2E94C5;
}

.black-link {
    color: #2E94C5;
}

/*a:link:hover {
    background-color: #2E94C5;
}*/

.landing-container {
    width: 100%;
    max-width: 100%;
}

.landing-image {
    z-index: -1;
    position: relative;
}

.landing-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #2E94C5; 
    text-align: right;
    font-size: 65px;
    font-style: bold;
    line-height: 40px;
    float: right;
    margin-top: 13px;
}

.landing-text-bottom {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400italic;
    font-style: italic;
    color: #2E94C5; 
    text-align: right;
    font-size: 65px;
    line-height: 20px;
    float: right;
    margin-top: 13px;
}

.start-shopping-container {
    margin-top: 315px;
}

.start-shopping-btn {
    font-size: 40px;
    font-family: 'Roboto Condensed', sans-serif; 
    background-color: black;
    color: white;
    margin-top: 300px;
    margin-left: 80px;
    position: relative;
    padding: 9px;
}

.start-shopping-btn:hover {
    color: white;
    background-color: #2E94C5;
}

.gender-label {
    font-family: 'Quicksand', sans-serif;
    font-style: 3em;
}

.styles-container {
    margin-left: 32px;
}

.no-matches-container {
    margin-top: -30px;
}

.landingcontainer #container {
    background-image: url('/assets/main-image-notxt.jpg');
    background-position: center 1%;
    background-repeat: no-repeat;
    background-size: cover;
}

#shop-form-container {
    background-image: none !important;
    background-color: white;
}

.contact-container {
    background-image: url('/assets/snow-lr.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-container {
    background-color: white;
}

.partner-container {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    margin-top: -20px

}

.bigbutton {
    color: black;
}

.top-bar-section {
    background-color: red;
}

.top-bar {
    height: 130px;
    background: #2E94C5;
}

.active {
    background-color: red;
}
    
.style-text {
    display:inline-block;
    width:19px;
    height:19px;
}

.contact-header {
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 400;
    margin: 1em;
    border-bottom: solid black;
    text-align: right;
    margin-top: 10px;
}

.contact-button {
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif; 
    background-color: black;
    color: white;
    width: 70%;
    margin-bottom: 30px;
    margin-left: 35px;
}

.contact-button:hover {
    background-color: #2E94C5;
}

.basic-text {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    margin-top: -10px;
}

.basic-text-med {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
  }

.basic-text-large {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
  }

li.nav-button {
    background-color: red
}

.clearfooter {
clear: both;
}

.styles {
    display: inline;
}

.style-options {

}

.results-header {
    font-size: 30px;
}

.shop-matches-container {
    background-color: white;
}

.results-no-matches {
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0;
}

.bottom-bar {
    width: 100%;
    max-width: 100%;
    height: 60px;
    background-color: black;
}

.footer-text {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    margin: auto;
    margin-top: 5px;
}

li.footer-text a:hover {
    background-color: #2E94C5;
    color: white;
}

.fancybutton {
    background-color: black;
    color: white;
}

.style-text {
    display: inline;
}

label {
    /*color: white;*/
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    color: white;
    background-color: black;
    height: 1.5em;
    width: 6em; 
    box-shadow: 1em   
}

.beta-image {
    margin-left: auto;
    margin-right: auto;
}

.social-media-icons {
    margin-top: 4px;
    padding-left: 10px;
    float: right;
}

.social-media-icons:hover {
    background-color: none;
}

.vis-hidden {
    overflow: hidden;
}

/*.checkbox {
    display: none;
}*/

.name {
    /*display: none;*/
}

.style-button {
   padding: .4em; 
}

label:hover {
    color: white;
    background-color: #2E94C5; 
    border-color: black;
    border-style: solid;
    border-width: 3px;  
}

.check-box:checked {
   background-color: #2E94C5  
}

hr {
    color: black;
    height: .05em;
}

input:checked  + label { 
    background-color: #2E94C5;
    color: white;
}

input[type=checkbox]:checked  + label { 
    background-color: #2E94C5;
    color: white;
}

.input input {
    height: 60px;
    font-size: 26px;
}

.label-classic {
    color: white;
    font-size: 2em;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.store_description{
    padding-top: 160px;
    font-family: 'Roboto Condensed', sans-serif;
}

.button-submit {
    width: 8.7em;
    height: 3.5em;
    background-color: #2E94C5;
    border-style: solid black;
    color: white;
    font-size: 1.7em;
    margin-top: 1.9em;
    margin-bottom: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

.sex-buttons {
    margin-bottom: 1.7em;
}

.style-button input[type="checkbox"] {
    display: none;
}

.radiobuttons input[type="radio"] {
    display: none;
}

.button-submit:hover {
    background-color: black;
}

.nav-button {
    background-color: red
}

.matches {
    border-bottom: solid black;
    padding: 2.3em;
}

#matches {
    margin-bottom: 5em;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

.shop_matches {
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background-color: white;
}

.shop-text {
    margin-top: 10em;
}

.store-name {
    font-family: 'Quicksand', sans-serif;
}















