/*= require foundation */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

welcome {
    text-align: center
}

html, body {
    height: 100%;
}

#container {
min-height: 100%;
margin-bottom: -400px;
position: relative;
}

.bigbutton {
    color: black;
}

.top-bar-section {
    background-color: red;
}

.top-bar {
    height: 130px;
    background: #016064;
}

.active {
    background-color: red;
}
    
.style-text {
    display:inline-block;
    width:19px;
    height:19px;
    background:url(check_radio_sheet.png) left top no-repeat;
}

li.nav-button {
    background-color: red
}

.clearfooter {
height: 330px;
clear: both;
}

.styles {
    display: inline;
}

.style-options {

}

.bottom-bar {
    height: 100px;
    background-color: black;
    position: relative;
    margin-bottom: 0;
    display: block;
    width: 100%;
}

#footer {
/*height: 330px;*/
position: relative;
}

.footer-area {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    display: block;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2.5em;
}

.footer-text {
    display: inline;
    padding: 70px;
}

.fancybutton {
    background-color: black;
    color: white;
}

.style-text {
    display: inline;
}

label {
    /*color: white;*/
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2em;
    color: white;
    background-color: black;
    height: 1.5em;
    width: 4.9em;
    
}

label:hover {
    /*color: white;*/
    background-color: red;
    
}

.label-classic {
    color: black;
    font-size: 1.5em;
    background-color: white;
}

.fancybutton:hover {
    background-color: red;
}

.button-submit {
    width: 7em;
    height: 3.5em;
    background-color: red;
    border-style: solid black;
    color: white;
    font-size: 2em;
    font-family: 'Archivo Narrow', sans-serif;
}

.button-submit:hover {
    background-color: black
}

.nav-button {
    background-color: red
}

.matches {
    display: inline;
}

















