/*= require foundation */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

welcome {
    text-align: center
}

html, body {
    height: 100%;
}

h1, h2 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
    margin: 1em;
    border-bottom: solid black;
}

a {
    color: white;
}

li.social-media-icons:hover {
    list-style-type: none;   
}

/*a:hover {
    background-color: #2E94C5; 
    color: white;
}*/

a.website-text {
    color: #2E94C5;
}

/*a:link:hover {
    background-color: #2E94C5;
}*/

.landing-container {
    width: 100%;
    max-width: 100%;
}

.landing-image {
    z-index: -1;
    position: relative;
}

.start-shopping-btn {
    font-size: 50px;
    font-family: 'Roboto', sans-serif; 
    background-color: black;
    color: white;
    margin-top: 25em;
    margin-right: 2em;
}

.start-shopping-btn:hover {
    background-color: #2E94C5;
}

.gender-label {
    font-family: 'Quicksand', sans-serif;
    font-style: 3em;
}

.styles-container {
}

#container {
min-height: 83%;
background-image: url('/assets/main-image.jpg');
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
/*margin-bottom: 100px;*/
}

#shop-form-container {
    background-image: none !important;
    background-color: white;
}

.body.home-container {

}

.bigbutton {
    color: black;
}

.top-bar-section {
    background-color: red;
}

.top-bar {
    height: 130px;
    background: #2E94C5;
}

.active {
    background-color: red;
}
    
.style-text {
    display:inline-block;
    width:19px;
    height:19px;
}

li.nav-button {
    background-color: red
}

.clearfooter {
clear: both;
}

.styles {
    display: inline;
}

.style-options {

}

.results-header {
    font-size: 5em;
}

.bottom-bar {
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: black;
    margin-bottom: 0;
    background-color: black;
    position: relative;
    bottom: 0;
}

.footer-text {
    list-style-type: none;
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    margin: auto;
}

li.footer-text a:hover {
    background-color: #2E94C5;
    color: white;
}

.fancybutton {
    background-color: black;
    color: white;
}

.style-text {
    display: inline;
}

label {
    /*color: white;*/
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    background-color: black;
    height: 1.5em;
    width: 6em; 
    box-shadow: 1em   
}

.social-media-icons {
    margin-top: 7px;
    padding-left: 10px;
    float: right;
}

.social-media-icons:hover {
    background-color: none;
}

.vis-hidden {
    overflow: hidden;
}

/*.checkbox {
    display: none;
}*/

.name {
    /*display: none;*/
}

.style-button {
   padding: .4em; 
}

label:hover {
    color: white;
    background-color: #2E94C5; 
    border-color: black;
    border-style: solid;
    border-width: 3px;  
}

.check-box:checked {
   background-color: #2E94C5  
}

hr {
    color: black;
    height: .05em;
}

input:checked  + label { 
    background-color: #2E94C5;
    color: white;
}

input[type=checkbox]:checked  + label { 
    background-color: #2E94C5;
    color: white;
}

.label-classic {
    color: white;
    font-size: 2em;
    background-color: black;
    border-color: black;
    border-style: solid;
    border-width: 3px;
}

.store_description{
    padding-top: 160px;
    font-family: 'Roboto', sans-serif;
}

.button-submit {
    width: 8.7em;
    height: 3.5em;
    background-color: #2E94C5;
    border-style: solid black;
    color: white;
    font-size: 1.7em;
    margin-top: 1.9em;
    margin-bottom: 2em;
    font-family: 'Roboto', sans-serif;
}

.sex-buttons {
    margin-bottom: 1.7em;
}

.style-button input[type="checkbox"] {
    display: none;
}

.radiobuttons input[type="radio"] {
    display: none;
}

.button-submit:hover {
    background-color: black;
}

.nav-button {
    background-color: red
}

.matches {
    border-bottom: solid black;
    padding: 2.3em;
}

#matches {
    margin-bottom: 5em;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

.shop_matches {
    margin-left: 0;
    margin-right: 0;
    background-image: none;
    background-color: white;
}

.shop-text {
    margin-top: 10em;
}

.store-name {
    font-family: 'Quicksand', sans-serif;
}















